

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.auth {
  position: relative;
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: #000;
    z-index: 0; 
}

.auth-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin: 0 auto;
}

.login-title,
.signup-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  background: linear-gradient(90deg, #8b5cf6, #4f46e5);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.auth-form-container {
  background: rgba(15, 10, 30, 0.7);
  backdrop-filter: blur(10px);
  padding: 2.5rem;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}


.back-button {
  position: fixed; 
  top: 0.5rem;
  left: 0.5rem;

  border: none;
  width: 3rem;
  height: 3rem;

  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1000; 
}

.back-button:hover {
  background: none;
  transform: translateX(-3px);
}

@media (max-width: 480px) {
  .back-button {
    width: 2.5rem;
    height: 2.5rem;
    top: 0.5rem;
    left: 0.5rem;
  }
}


.gradient-ball,
.gradient-ball-2,
.gradient-ball-3,
.gradient-ball-4{
  position: fixed;
  border-radius: 50%;
  filter: blur(80px);
  z-index: 0;
}

.gradient-ball {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle at center, #672f94 0%, transparent 30%);
  top: 50%;
  left: 700px;
}

.gradient-ball-2 {
  width: 450px;
  height: 450px;
  background: radial-gradient(circle at center, #4f46e5 0%, transparent 50%);
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.gradient-ball-3 {
  width: 350px;
  height: 350px;
  background: radial-gradient(circle at center, #3210b9 0%, transparent 50%);
  bottom: 10px;
  left: 300px;
  transform: translateX(-50%);
}

.gradient-ball-4 {
  width: 400px;
  height: 400px;
  background: radial-gradient(circle at center, #b53636 0%, transparent 55%);
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .auth-left {
    padding: 1.5rem;
  }
  
  .login-title,
  .signup-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .auth-form-container {
    padding: 1.5rem;
  }
  
  .gradient-ball,
  .gradient-ball-2,
  .gradient-ball-3,
  .gradient-ball-4 {
    filter: blur(80px);
  }
}

@media (max-width: 480px) {
  .auth-left {
    padding: 1rem;
  }
  
  .login-title,
  .signup-title {
    font-size: 1.8rem;
  }
  
  .back-button {
    width: 2.5rem;
    height: 2.5rem;
    top: 1.5rem;
    left: 1.5rem;
  }
  
  .gradient-ball,
  .gradient-ball-2,
  .gradient-ball-3,
  .gradient-ball-4 {
    filter: blur(60px);
  }
}