body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #111;
  color: #fff;
}

.auth {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.auth-left {
  flex: 1;
  background-color: #0b0717;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.login-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 60px;
}

.signup-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  margin-top: 80px;
}

.auth-right {
  flex: 1;
  background-image: url('/public/images/login.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
  background: #2b1a78;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-button::before {
  transition: transform 0.3s ease;
}

.back-button:hover {
  background: rgba(138, 92, 246, 0.255);
}

.back-button:hover::before {
  transform: translateX(-3px);
}