.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 1000;
  padding: 15px 0 15px 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-content {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
}

.auth-buttons {
  display: flex;
  gap: 20px;
}

.auth-buttons a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 30px;
  border-radius: 20px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
}

.login-btn {
  color: #ffffff;
  background: linear-gradient(
    200deg,
    rgba(43, 39, 44, 0.874) 0%,
    rgba(175, 168, 182, 0.847) 100%
  );
  border: 0.5px solid rgba(43, 39, 44, 0.874);
}

.signup-btn {
  color: white;
  background: linear-gradient(
    50deg,
    rgba(82, 45, 97, 0.884) 20%,
    rgb(118, 58, 140) 100%
  );
  border: 0.5px solid rgba(50, 27, 59, 0.599);
}

.login-btn:hover {
  background: linear-gradient(
    200deg,
    rgba(63, 59, 64, 0.9) 0%,
    rgba(195, 188, 202, 0.7) 100%
  );
  transform: translateY(-2px);
  box-shadow: 0 4px 16px rgba(139, 92, 246, 0.3);
}

.signup-btn:hover {
  background: linear-gradient(
    50deg,
    rgba(138, 78, 160, 0.95) 20%,
    rgba(102, 65, 117, 0.95) 100%
  );
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 6px 20px rgba(118, 58, 140, 0.4);
  animation: none;
}
